/* assets/css/footer.css */
/* assets/css/variables.css */
:root {
    /* --- 1. Paleta Branding --- */
    /* Color Principal 'Shadow' (Fondo Nav/Footer) [cite: 4, 5] */
    --color-shadow: #08192f;
    /* Color de Acento 'Acción' (Botones) [cite: 11, 13] */
    --color-accent: #00A6FB;
    /* Fondos Generales [cite: 18, 19, 20] */
    --color-bg-body: #E0E1DD;
    --color-bg-card: #FDFDFF;
    
    /* Textos */
    --color-text-main: #0f131a;
    --color-text-light: #ffffff;

    /* --- 2. Paleta Funcional (Estados) [cite: 28, 29, 30, 31] --- */
    --status-open: #e74c3c;       /* Rojo */
    --status-progress: #f1c40f;   /* Amarillo */
    --status-solved: #2ecc71;     /* Verde */

    /* --- 3. T-shirt Sizing [cite: 32, 34, 35, 36] --- */
    --size-s: #ffccd5;
    --size-m: #a2d2ff;
    --size-l: #cdb4db;
    
    /* --- Tipografía [cite: 38] --- */
    --font-main: 'Montserrat', sans-serif;
    --font-display: 'Della Respira', serif;
}.main-footer {
    background-color: var(--color-shadow);/* [cite: 5] */
    color: var(--color-text-light);
    text-align: center;
    padding: 1.5rem 0;
    font-size: 0.9rem;
    border-top: 4px solid var(--color-accent); /* Detalle estético extra */
}